{% extends 'internet_shop/_base.html' %}
{% load static %}


{% block content %}
    <script>
        $( document ).ready(function () {
            gtag('config', 'UA-114277992-1', {
                'page_title': 'Корзина с товарами',
                'page_path': '/virtual/not-null-basket/'
            });
        })
    </script>
    <h1>Корзина</h1>
         <table class="table">
             <thead class="thead-dark">
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость за шт</th>
                    <th scope="col">Сумма</th>
                    <th scope="col"></th>
                </tr>
             </thead>
             <tbody>
                {% for item in basket_items %}
                    <tr>
                        <td>
                            {{ item.good.name }}
                        </td>
                        <td>
                            {{ item.count_of }}
                        </td>
                        <td>
                            {{ item.good.cost }}
                        </td>
                        <td>
                            {{ item.summ }}
                        </td>
                        <td>
                            <form method="post" action="{% url 'basket_del' item_id=item.id %}">
                                {% csrf_token %}
                                <input id="del_item" type="submit" class="btn btn-dark" value="Удалить"/>
                            </form>
                            <script>
                                $("#del_item").click(
                                    function () {
                                        gtag('event', 'click', {
                                            'event_category': 'button',
                                            'event_label': 'del-good-from-basket'
                                        })
                                    }
                                )
                            </script>
                        </td>
                    {% empty %}
                        <td colspan="12">No goods</td>
                    </tr>
                {% endfor %}
             </tbody>
         </table>
        <h3 class="mt-5">Сделайте заказ:</h3>
        <form method="POST" class="p-3" action="{% url 'ready' %}">
            {% csrf_token %}
            <input name="uid" value="{{ basket_items.first.uid }}"  hidden/>
            <label>ФИО</label><br>
            {{ form.name }}<br>
            <label>Телефон:</label><br>
            {{ form.phone }}<br>
            <label>E-mail:</label><br>
            {{ form.email }}<br>
            <label>Комментарий:</label><br>
            {{ form.comment }}<br>
            <input type="submit" class="btn btn-block btn-dark" id="button_submit" value="Заказать"/>
        </form>
        <script>
            $('#id_name').click(
                function () {
                    gtag('config', 'UA-114277992-1', {
                      'page_title': 'Инпут ФИО',
                      'page_path': '/virtual/input-fio/'
                    });
                }
            );
            $('#id_phone').click(
                function () {
                    gtag('config', 'UA-114277992-1', {
                      'page_title': 'Инпут Телефон',
                      'page_path': '/virtual/input-phone/'
                    });
                }
            );
            $('#id_email').click(
                function () {
                    gtag('config', 'UA-114277992-1', {
                      'page_title': 'Инпут Email',
                      'page_path': '/virtual/input-email/'
                    });
                }
            );
            $('#id_comment').click(
                function () {
                    gtag('config', 'UA-114277992-1', {
                      'page_title': 'Инпут Комментарий',
                      'page_path': '/virtual/input-comment/'
                    });
                }
            );
            $('#button_submit').click(
                function () {
                    gtag('config', 'UA-114277992-1', {
                      'page_title': 'Кнопка Отправки',
                      'page_path': '/virtual/input-comment/'
                    });
                }
            );
        </script>
{% endblock %}