{% extends 'internet_shop/_base.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'basket_add' item_id=good_data.id %}" method="POST">
    {% csrf_token %}
        <h1>{{ good_data.name }}</h1><br>
        <img class="float-right" width="50%" src="{% get_media_prefix %}{{ good_data.image }}"/><br>
        <h3>Описание:</h3><br>
        <p class="p-2">{{ good_data.description }}</p><br>
        <h3>Цена:</h3><p class="p-2">{{ good_data.cost }}</p><br><br><br>

        <h3>Выберите количество:</h3>
        {{ form.count_of }}<br>

    <button id="to-basket" class="btn btn-dark mt-3 btn-block" type="submit">Добавить в корзину</button>
    </form>
    <script>
        $("#to-basket").click(
            function () {
                gtag('event', 'click', {
                    'event_category': 'button',
                    'event_label': 'item-to-cart-from-category'
                })
            }
        );
    </script>
{% endblock %}
